<h2>Employees</h2>

<hr />

<div class="list-group">
{{#each users}}
  <a href="/users/{{UserId}}" class="list-group-item 
  list-group-item-action">{{UserId}}. {{FirstName}} {{LastName}}</a>
{{/each}}
 </div>
